.Contenedorprincipal{

    position: absolute;
    height: 400px;
    width: 600px;
    background: #00cc66 ;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-radius: 10%;
    
    }
    .cardboy{
        background: white;
        height: 90%;
        padding: 20px;
    }
    body{
        background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg);
        background-size: cover;
    }
    .estilostext {
    margin-top: 60px;
}
.estilo2{
    margin-top: 60px;
}
.estilo3{
    margin-top: 60px;
}